html{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

::-webkit-scrollbar{
    display: none;
}

a {
    color: inherit; /* this makes the link color the same as the text color */
    text-decoration: none; /* this removes the underline */
  }
  #button3 a {
    text-decoration: none; /* This removes the underline */
    color: inherit; /* This makes the link color the same as the surrounding text */
  }

  #button2 a {
    text-decoration: none; /* This removes the underline */
    color: inherit; /* This makes the link color the same as the surrounding text */
  }
body{
    background-color: white;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#Container1{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    z-index: 99;
}
.parralax{
    display: none;
}

#loader {
    display: none; /* Hide the loader initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: -99; /* Ensure loader is on top of other elements */
    text-align: center; /* Center the loader content */
  }
  
  .loader-inner {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Circular loader */
    border: 5px solid #fff; /* White border */
    border-top-color: #f00; /* Red color for top half */
    animation: spin 1s linear infinite; /* Animation for spinning */
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  #load-button {
    /* Style your button as desired */
  }
  
  /* Add loader fade-in/out animation (optional) */
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .fade-out {
    animation: fadeOut 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  #loader img {
    width: 100px; /* Adjust size as needed */
    height: auto;
  }
  
/*First DIV--------------------------------------------------------------------------------------------------------------------------------*/

#landcont1{
    background-color: white;
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0%;
   overflow: hidden;
   pointer-events: none;
}

.welcome, .welcome:nth-child(2) {
    font-size: 80px;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.welcome{
    margin-bottom: -33px;
    color: #023047;
}

.welcome:nth-child(2){
    z-index: 1;
    color: #ffb703;
}
@media only screen and (max-width: 480px) {
    .welcome, .welcome:nth-child(2) {
        font-size: 28px;
        text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    }

    .welcome{
        margin-bottom: -10px;
        color: #023047;
    }

    .welcome:nth-child(2){
        z-index: 1;
        color: #ffb703;
    }
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .welcome, .welcome:nth-child(2) {
        font-size: 40px;
        text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    }

    .welcome{
        margin-bottom: -10px;
        color: #023047;
    }

    .welcome:nth-child(2){
        z-index: 1;
        color: #ffb703;
    }
    
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .welcome, .welcome:nth-child(2) {
        font-size: 60px;
        text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    }

    .welcome{
        margin-bottom: -10px;
        color: #023047;
    }

    .welcome:nth-child(2){
        z-index: 1;
        color: #ffb703;
    }
    
}







/*Second DIV--------------------------------------------------------------------------------------------------------------------------------*/

#landcont2{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    top: 100vh;  
    left: 0%; 
    overflow: visible;
   
    
}

.landtext1, .landtext2{
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    margin-left: 75px;
}

.landtext1cont{
    position: absolute;
    top: 15%;
}
.landtext2cont{
    margin-bottom: 40px;
    position: absolute;
    top: 40%;
    
}

.landtext1:nth-child(1){
    font-size: 110px;
    color:#023047;
    margin-bottom: 5px;
}

.landtext1:nth-child(2){
    font-size: 110px;
    color:#ffb703;
   margin-top: -40px;
   margin-bottom: 5px;
}



.landtext2:nth-child(1){
    font-size: 60px;
    margin-bottom: 10px;

}

.landtext2:nth-child(2){
    font-size: 60px;
    margin-bottom: 10px;

}

.landtext2:nth-child(3){
    font-size: 60px;
    margin-bottom: 10px;

}

.landtext2:nth-child(4){
    font-size: 60px;
    margin-bottom: 10px;
}

.landimgbox {
    position: absolute;
    width: 40%;
    height: 100vh;
    top: 15px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.img1 {
    object-fit: cover;
    height: 250px;
    width: 700px;
    border-radius: 5px;
    box-shadow: 1px 6px 53px -11px rgba(0,0,0,0.69);
    -webkit-box-shadow: 1px 6px 53px -11px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 6px 53px -11px rgba(0,0,0,0.69);
}

.landimg1{
   position: absolute;
    top: 0;
    left: 100px;
    object-fit: cover;
    width: 1000px;
    transition-delay: 150ms;
    z-index: 99;
   
}

.landimg2{
    position: absolute;
    top: 300px;
    left: 0px;
    object-fit: cover;
    width: 1000px;
    z-index: 99;
  
}

.landimg3{
    position: absolute;
    top: 600px;
    left: 150px;
    object-fit: cover;
    width: 1000px;
    transition-delay: 600ms;
    z-index: 99;
  
}


.img1, .img2, .img3 {
    object-fit: cover;
    width: 700px;
}

/*box-shadow: 1px 25px 26px -20px rgba(0,0,0,0.9);
-webkit-box-shadow: 1px 26px 24px -20px rgba(0,0,0,0.9);
-moz-box-shadow: 1px 26px 24px -20px rgba(0,0,0,0.9);*/

.button1{
    position: absolute;
    top: 80%;
    left: 75px;
}

.start {
    --primary-color: #ffb703;
    --secondary-color: #fff;
    --hover-color: #023047;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    margin-left: 75px;
    width: 350px;
    height: 60px;
    font-size: 25px;
    justify-content: center;
    box-shadow: 1px 52px 25px -20px rgba(0,0,0,0.71);
-webkit-box-shadow: 1px 25px 24px -20px rgba(0,0,0,0.71);
-moz-box-shadow: 1px 25px 24px -20px rgba(0,0,0,0.71);
  }
  
  .start .arrow-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .start .arrow{
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .start .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition:0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .start:hover {
    background-color: var(--hover-color);
  }
  
  .start:hover .arrow {
    background: var(--secondary-color);
  }
  
  .start:hover .arrow:before {
    right: 0;
  }

  @media only screen and (max-width: 449px) {
.landtext1, .landtext2{
        text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        margin-left: 20px;
        z-index: 99;
    }
    
    .landtext1cont{
       position: absolute;
        width: 1000px;
        height: 50px;
        
       
    }
    .landtext2cont{
        margin-bottom: 40px;
        position: absolute;
        top: 250px;
        
    }

    .landtext1:nth-child(1), .landtext1:nth-child(2) {
        font-size: 45px;
        margin-bottom: 5px;
    }
    
    .landtext1:nth-child(1) {
        color: #023047;
    }
    
    .landtext1:nth-child(2) {
        color: #ffb703;
        margin-top: -10px;
    }
    
    .landtext2:nth-child(1), .landtext2:nth-child(2), .landtext2:nth-child(3), .landtext2:nth-child(4) {
        font-size: 25px;
        margin-bottom: 10px;
    }
    

    .button1{
        position: absolute;
        top: 420px;
        left: -50px;
        
    }
    
    .start {
        width: 225px;
        height: 60px;
        font-size: 20px;
       
      }

    .landimg1,
    .landimg2,
    .landimg3,
    .img1,
    .img2,
    .img3 {
        display: none;
    }
  }

  @media only screen and (width: 450px) {

    .landtext1, .landtext2{
        text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        margin-left: 20px;
        z-index: 99;
    }
    
    .landtext1cont{
       position: absolute;
        width: 1000px;
        height: 50px;
        
       
    }
    .landtext2cont{
        margin-bottom: 40px;
        position: absolute;
        top: 250px;
        
    }

    .landtext1:nth-child(1), .landtext1:nth-child(2) {
        font-size: 45px;
        margin-bottom: 5px;
    }
    
    .landtext1:nth-child(1) {
        color: #023047;
    }
    
    .landtext1:nth-child(2) {
        color: #ffb703;
        margin-top: -10px;
    }
    
    .landtext2:nth-child(1), .landtext2:nth-child(2), .landtext2:nth-child(3), .landtext2:nth-child(4) {
        font-size: 25px;
        margin-bottom: 10px;
    }
    

    .button1{
        position: absolute;
        top: 420px;
        left: 0;
        
    }
    
    .start {
        width: 225px;
        height: 60px;
        font-size: 20px;
       
      }

    .landimg1,
    .landimg2,
    .landimg3,
    .img1,
    .img2,
    .img3 {
        display: none;
    }

  
}

@media only screen and (min-width: 450px) and (max-width: 767px)  {
    /* CSS rules for smaller screens in portrait mode */

#landcont2{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: transparent;
    display: flex;
    top: 100vh;  
    left: 0%; 
    overflow: visible;
   
}


.landtext1, .landtext2{
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    z-index: 99;
}

.landtext1cont{
   position: absolute;
    width: 1000px;
    height: 50px;
    
   
}
.landtext2cont{
    margin-bottom: 40px;
    position: absolute;
    top: 250px;
    
}

.landtext1:nth-child(1), .landtext1:nth-child(2) {
    font-size: 45px;
    margin-bottom: 5px;
}

.landtext1:nth-child(1) {
    color: #023047;
}

.landtext1:nth-child(2) {
    color: #ffb703;
    margin-top: -10px;
}

.landtext2:nth-child(1), .landtext2:nth-child(2), .landtext2:nth-child(3), .landtext2:nth-child(4) {
    font-size: 25px;
    margin-bottom: 10px;
}


/*box-shadow: 1px 25px 26px -20px rgba(0,0,0,0.9);
-webkit-box-shadow: 1px 26px 24px -20px rgba(0,0,0,0.9);
-moz-box-shadow: 1px 26px 24px -20px rgba(0,0,0,0.9);*/

.landimgbox {
    position: absolute;
    width: 40%;
    height: 100vh;
    top: 65px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.img1 {
    object-fit: cover;
    height: 150px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 1px 6px 53px -11px rgba(0,0,0,0.69);
    -webkit-box-shadow: 1px 6px 53px -11px rgba(0,0,0,0.69);
    -moz-box-shadow: 1px 6px 53px -11px rgba(0,0,0,0.69);
}

.landimg1{
   position: absolute;
    top: 0;
    left: 100px;
    object-fit: cover;
    width: 1000px;
    transition-delay: 150ms;
    z-index: 99;
   
}

.landimg2{
    position: absolute;
    top: 175px;
    left: 0px;
    object-fit: cover;
    width: 1000px;
    z-index: 99;
  
}

.landimg3{
    position: absolute;
    top: 350px;
    left: 50px;
    object-fit: cover;
    width: 1000px;
    transition-delay: 600ms;
    z-index: 99;
  
}


.img1, .img2, .img3 {
    object-fit: cover;
    width: 500px;
}

.img3{
       
        transform: scaleX(-1);   
}

.button1{
    position: absolute;
    top: 450px;
    left: 0;
    
}

.start {
    width: 225px;
    height: 60px;
    font-size: 20px;
   
  }
  
  }
   
  @media only screen and (min-width: 768px) and (max-width: 800px){

    #landcont2{
        width: 100%;
        height: 100vh;
        position: absolute;
        background: transparent;
        display: flex;
        top: 100vh;  
        left: 0%; 
        overflow: visible;
       
    }
    
    
    .landtext1, .landtext2{
        text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        margin-left: 50px;
        z-index: 99;
    }
    
    .landtext1cont{
       position: absolute;
        width: 1000px;
        height: 50px;
        
       
    }
    .landtext2cont{
        margin-bottom: 40px;
        position: absolute;
        top: 280px;
        
    }
    
    .landtext1:nth-child(1){
        font-size: 50px;
        color:#023047;
        margin-bottom: 10px;
    }
    
    .landtext1:nth-child(2){
        font-size: 50px;
        color:#ffb703;
       margin-top: -5px;
       margin-bottom: 5px;
    }
    
    
    
    .landtext2:nth-child(1){
        font-size: 30px;
        margin-bottom: 5px;
    
    }
    
    .landtext2:nth-child(2){
        font-size: 30px;
        margin-bottom: 5px;
    
    }
    
    .landtext2:nth-child(3){
        font-size: 30px;
        margin-bottom: 5px;
    
    }
    
    .landtext2:nth-child(4){
        font-size: 30px;
        margin-bottom: 5px;
    }
    
    /*box-shadow: 1px 25px 26px -20px rgba(0,0,0,0.9);
    -webkit-box-shadow: 1px 26px 24px -20px rgba(0,0,0,0.9);
    -moz-box-shadow: 1px 26px 24px -20px rgba(0,0,0,0.9);*/
    
    .landimgbox {
        position: absolute;
        width: 40%;
        height: 100vh;
        top: 50px;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
    
    .img1 {
        object-fit: cover;
        height: 150px;
        width: 500px;
        border-radius: 5px;
        box-shadow: 1px 6px 53px -11px rgba(0,0,0,0.69);
        -webkit-box-shadow: 1px 6px 53px -11px rgba(0,0,0,0.69);
        -moz-box-shadow: 1px 6px 53px -11px rgba(0,0,0,0.69);
    }
    
    .landimg1{
       position: absolute;
        top: 0;
        left: 10px;
        object-fit: cover;
        width: 1000px;
        transition-delay: 150ms;
        z-index: 99;
       
    }
    
    .landimg2{
        position: absolute;
        top: 175px;
        left: 0px;
        object-fit: cover;
        width: 1000px;
        z-index: 99;
      
    }
    
    .landimg3{
        position: absolute;
        top: 350px;
        left: 20px;
        object-fit: cover;
        width: 1000px;
        transition-delay: 600ms;
        z-index: 99;
      
    }
    
    
    .img1, .img2, .img3 {
        object-fit: cover;
        width: 500px;
        height: 150px;
    }
    
    .img3{
           
            transform: scaleX(-1);   
    }
    
    .button1{
        position: absolute;
        top: 480px;
        left: 0px;
        
    }
    
    .start {
        width: 225px;
        height: 60px;
        font-size: 20px;
       
      }

  }


  @media only screen and (width: 1024px) {

    .landtext1, .landtext2{
        text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        margin-left: 50px;
        z-index: 99;
    }

.landtext1:nth-child(1){
    font-size: 70px;
    color:#023047;
    margin-bottom: 5px;
}

.landtext1:nth-child(2){
    font-size: 70px;
    color:#ffb703;
   margin-top: -40px;
   margin-bottom: 5px;
}



.landtext2:nth-child(1){
    font-size: 40px;
    margin-bottom: 10px;

}

.landtext2:nth-child(2){
    font-size: 40px;
    margin-bottom: 10px;

}

.landtext2:nth-child(3){
    font-size: 40px;
    margin-bottom: 10px;

}

.landtext2:nth-child(4){
    font-size: 40px;
    margin-bottom: 10px;
}
    
    .landtext1cont{
       position: absolute;
        width: 1000px;
        height: 50px;
        
       
    }
    .landtext2cont{
        margin-bottom: 40px;
        position: absolute;
        top: 300px;
        
    }

    .landimgbox {
        position: absolute;
        width: 40%;
        height: 100vh;
        top: 15px;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    
    .img1 {
        object-fit: cover;
        height: 200px;
        width: 700px;
        border-radius: 5px;
        box-shadow: 1px 6px 53px -11px rgba(0,0,0,0.69);
        -webkit-box-shadow: 1px 6px 53px -11px rgba(0,0,0,0.69);
        -moz-box-shadow: 1px 6px 53px -11px rgba(0,0,0,0.69);
    }
    
    .landimg1{
       position: absolute;
        top: 0;
        left: 100px;
        object-fit: cover;
        width: 1000px;
        transition-delay: 150ms;
        z-index: 99;
       
    }
    
    .landimg2{
        position: absolute;
        top: 250px;
        left: 0px;
        object-fit: cover;
        width: 1000px;
        z-index: 99;
      
    }
    
    .landimg3{
        position: absolute;
        top: 500px;
        left: 100px;
        object-fit: cover;
        width: 1000px;
        transition-delay: 600ms;
        z-index: 99;
      
    }
    
    
    .img1, .img2, .img3 {
        object-fit: cover;
        width: 700px;
    }

    .img3 {
        filter: invert(1);
    }

    .button1{
        position: absolute;
         top: 550px;
         left: 0%;

    }

   .start{ 
    font-size: 20px;
    width: 300px;
    height: 60px;
  }


}

  
/*Third DIV--------------------------------------------------------------------------------------------------------------------------------*/
#landcont3{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 220vh;  
    background-color: white;
}

.landcont4{
    position: absolute;
    background-color: rgb(206, 203, 203);
    top: 5%;
    width: 100%;
    height: 50%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7)); /* Adjusted for the duplicated slide */
    }
}

.slider {
    height: 360px;
    position: absolute;
    top: 9%;
    width: 100%;
    display: flex;
    overflow: hidden; /* Hide the overflow */
}

.slide-track {
    display: flex;
    width: calc(300px * 15); /* Adjusted for the duplicated slide */
    animation: scroll 40s linear infinite;
}

.slide {
    height: 300px;
    width: 700px;
    align-items: center;
    padding: 15px;
}

.slideimg {
    width: 100%;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, rgb(206, 203, 203,1) 0%, rgb(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 9%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.landcont5{
    background-color: white;
    position: absolute;
    top: 57%;
    width: 100vw;
    height: 300px;
   justify-content: center;
   align-items: center;
}

#landtext3{
    position: absolute;
    top: 10%;
    left: 25%;
    align-items: center;
    font-size:  90px;
    color:  #023047;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.button2{
    position: absolute;
    top: 65%;
    left: 40%;
    align-items: center;
    
}


.start2 {
    --primary-color: #ffb703;
    --secondary-color: #fff;
    --hover-color: #023047;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    width: 400px;
    height: 60px;
    font-size: 30px;
    justify-content: center;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    box-shadow: 1px 52px 25px -20px rgba(0,0,0,0.71);
-webkit-box-shadow: 1px 25px 24px -20px rgba(0,0,0,0.71);
-moz-box-shadow: 1px 25px 24px -20px rgba(0,0,0,0.71);
  }
  
  .start2 .arrow-wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .start2 .arrow2 {
    margin-top: 1.4px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .start2 .arrow2::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition:0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .start2:hover {
    background-color: var(--hover-color);
  }
  
  .start2:hover .arrow2 {
    background: var(--secondary-color);
  }
  
  .start2:hover .arrow2:before {
    right: 0;
  }

  @media only screen and (max-width: 389px){
    .landcont4{
        height: 180px;
        }
    
        .slider {
            height: 150px; /* Adjust this to your desired height */
            position: absolute;
            top: 12%;
            width: 100%;
            display: flex;
        }
        
        .slide{
            height: 180px; /* Adjust this to your desired height */
            width: 200px; /* Adjust this to your desired width */
            align-items: center;
            padding: 15px;
        }
        
        .slideimg{
            width: 100%;
        }
    
        .landcont5{
            top: 250px;
            width: 100vw;
            height: 300px;
        }
    
        #landtext3{
            top: 0px;
            left: 35px;
            font-size: 24px;
        }
    
        #button2{
            position: absolute;
            top: 50px;
            left: 40px;
        }
    
        .start2{
            font-size: 20px;
            width: 250px;
            height: 50px;
        }
  
  }

  @media only screen and (width: 320px){

  }

  @media only screen and (min-width: 321px) and (max-width: 390px){
    .landcont4{
        height: 180px;
        }
    
        .slider {
            height: 150px; /* Adjust this to your desired height */
            position: absolute;
            top: 12%;
            width: 100%;
            display: flex;
        }
        
        .slide{
            height: 180px; /* Adjust this to your desired height */
            width: 200px; /* Adjust this to your desired width */
            align-items: center;
            padding: 15px;
        }
        
        .slideimg{
            width: 100%;
        }
    
        .landcont5{
            top: 250px;
            width: 100vw;
            height: 300px;
        }
    
        #landtext3{
            top: 0px;
            left: 65px;
            font-size: 24px;
        }
    
        #button2{
            position: absolute;
            top: 50px;
            left: 70px;
        }
    
        .start2{
            font-size: 20px;
            width: 250px;
            height: 50px;
        }
  }


  @media only screen and (min-width: 391px) and (max-width: 480px){

    .landcont4{
    height: 280px;
    }

    .slider {
        height: 200px; /* Adjust this to your desired height */
        position: absolute;
        top: 9%;
        width: 100%;
        display: flex;
    }
    
    .slide{
        height: 200px; /* Adjust this to your desired height */
        width: 290px; /* Adjust this to your desired width */
        align-items: center;
        padding: 15px;
    }
    
    .slideimg{
        width: 100%;
    }

    .landcont5{
        top: 300px;
        width: 100vw;
        height: 300px;
    }

    #landtext3{
        top: 35;
        left: 63px;
        font-size: 30px;
    }

    #button2{
        position: absolute;
        top: 90px;
        left: 90px;
    }

    .start2{
        font-size: 20px;
        width: 250px;
        height: 50px;
    }
  }

  @media only screen and (min-width: 481px) and (max-width: 767px){
    .landcont4{
        height: 250px;
        }
    
        .slider {
            height: 200px; /* Adjust this to your desired height */
            position: absolute;
            top: 9%;
            width: 100%;
            display: flex;
        }
        
        .slide{
            height: 200px; /* Adjust this to your desired height */
            width: 290px; /* Adjust this to your desired width */
            align-items: center;
            padding: 15px;
        }
        
        .slideimg{
            width: 100%;
        }
    
        .landcont5{
            top: 300px;
            left: 180px;
            width: 100vw;
            height: 300px;
        }
    
        #landtext3{
            top: 35;
            left: 63px;
            font-size: 30px;
        }
    
        #button2{
            position: absolute;
            top: 90px;
            left: 90px;
        }
    
        .start2{
            font-size: 20px;
            width: 250px;
            height: 50px;
        }
      }
  

  @media only screen and (width: 768px){
    .landcont4{
        height: 280px;
        }
    
        .slider {
            height: 200px; /* Adjust this to your desired height */
            position: absolute;
            top: 9%;
            width: 100%;
            display: flex;
        }
        
        .slide{
            height: 200px; /* Adjust this to your desired height */
            width: 290px; /* Adjust this to your desired width */
            align-items: center;
            padding: 15px;
        }
        
        .slideimg{
            width: 100%;
        }
    
        .landcont5{
            top: 300px;
            width: 100vw;
            height: 300px;
        }
    
        #landtext3{
            top: 35;
            left: 230px;
            font-size: 30px;
        }
    
        #button2{
            position: absolute;
            top: 90px;
            left: 265px;
        }
    
        .start2{
            font-size: 20px;
            width: 250px;
            height: 50px;
        }
      }
    
      @media only screen and (min-width: 481px) and (max-width: 767px){
        .landcont4{
            height: 250px;
            }
        
            .slider {
                height: 200px; /* Adjust this to your desired height */
                position: absolute;
                top: 9%;
                width: 100%;
                display: flex;
            }
            
            .slide{
                height: 300px; /* Adjust this to your desired height */
                width: 350px; /* Adjust this to your desired width */
                align-items: center;
                padding: 15px;
            }
            
            .slideimg{
                width: 100%;
            }
        
            .landcont5{
                top: 300px;
                left: 180px;
                width: 100vw;
                height: 300px;
            }
        
            #landtext3{
                top: 35;
                left: 63px;
                font-size: 30px;
            }
        
            #button2{
                position: absolute;
                top: 90px;
                left: 90px;
            }
        
            .start2{
                font-size: 20px;
                width: 250px;
                height: 50px;
            }
          
    }

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .landcont4{
        height: 290px;
        }
    
        .slider {
            height: 250px; /* Adjust this to your desired height */
            position: absolute;
            top: 9%;
            width: 100%;
            display: flex;
        }

        
        .slide{
            height: 300px; /* Adjust this to your desired height */
            width: 350px; /* Adjust this to your desired width */
            align-items: center;
            padding: 15px;
        }
        
        .slideimg{
            width: 100%;
        }
    
        .landcont5{
            top: 350px;
            left: 120px;
            width: 100vw;
            height: 300px;
        }
    
        #landtext3{
            top: 35;
            left: 0px;
            font-size: 55px;
        }
    
        #button2{
            position: absolute;
            top: 120px;
            left: 90px;
        }
    
        .start2{
            font-size: 30px;
            width: 400px;
            height: 60px;
        }
}


@media only screen and (width: 1024px){
    .landcont4{
        height: 290px;
        }
    
        .slider {
            height: 250px; /* Adjust this to your desired height */
            position: absolute;
            top: 9%;
            width: 100%;
            display: flex;
        }

        
        .slide{
            height: 300px; /* Adjust this to your desired height */
            width: 350px; /* Adjust this to your desired width */
            align-items: center;
            padding: 15px;
        }
        
        .slideimg{
            width: 100%;
        }
    
        .landcont5{
            top: 350px;
            left: 230px;
            width: 100vw;
            height: 300px;
        }
    
        #landtext3{
            top: 35;
            left: 0px;
            font-size: 55px;
        }
    
        #button2{
            position: absolute;
            top: 120px;
            left: 90px;
        }
    
        .start2{
            font-size: 30px;
            width: 400px;
            height: 60px;
        }
}
/*Fourth DIV--------------------------------------------------------------------------------------------------------------------------------*/
#landcont4{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 350vh;
    background-color:#0a8dae;

}

.landtext4, .landtext4:nth-child(2) {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 85px;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.76);
    
}

.landtext4{

    color: white;
}

.landtext4:nth-child(2){
    color: #ffb703;
    transition-delay: 900ms;
}

.button3{
    position: absolute;
    top: 65%;
}


.start3 {
    --primary-color: #ffb703;
    --secondary-color: #fff;
    --hover-color:#fb8500;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    width: 400px;
    height: 60px;
    font-size: 30px;
    justify-content: center;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    box-shadow: 1px 52px 25px -20px rgba(0,0,0,0.71);
-webkit-box-shadow: 1px 25px 24px -20px rgba(0,0,0,0.71);
-moz-box-shadow: 1px 25px 24px -20px rgba(0,0,0,0.71);
  }
  
  .start3 .arrow-wrapper3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .start3 .arrow3 {
    margin-top: 0.6px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .start3 .arrow3::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition:0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .start3:hover {
    background-color: var(--hover-color);
  }
  
  .start3:hover .arrow3 {
    background: var(--secondary-color);
  }
  
  .start3:hover .arrow3:before {
    right: 0;
  }

  @media only screen and (max-width: 480px){
    #landcont4{
        height: 100vh; /* Reduced from 100vh */
        top: 350vh; /* Reduced from 350vh */
       
    }
    
    .landtext4, .landtext4:nth-child(2) {
  font-size: 25px; 
       
    }
    
    .landtext4{
        color: white;
    }
    
    .button3{
        position: absolute;
        top: 510px; /* Reduced from 65% */
    }
    
    .start3 {
        width: 200px; /* Reduced from 400px */
        height: 45px; /* Reduced from 60px */
        font-size: 15px; /* Reduced from 30px */
     
    }

  }

  @media only screen and (min-width: 481px) and (max-width: 767px){
    #landcont4{
        height: 100vh; /* Reduced from 100vh */
        top: 350vh; /* Reduced from 350vh */
       
    }
    
    .landtext4, .landtext4:nth-child(2) {
  font-size: 35px; 
       
    }
    
    .landtext4{
        color: white;
    }
    
    .button3{
        position: absolute;
        top: 495px; /* Reduced from 65% */
    }
    
    .start3 {
        width: 300px; /* Reduced from 400px */
        height: 50px; /* Reduced from 60px */
        font-size: 25px; /* Reduced from 30px */
     
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px){
    #landcont4{
        height: 100vh; /* Reduced from 100vh */
        top: 350vh; /* Reduced from 350vh */
       
    }
    
    .landtext4, .landtext4:nth-child(2) {
  font-size: 35px; 
       
    }
    
    .landtext4{
        color: white;
    }
    
    .button3{
        position: absolute;
        top: 495px; /* Reduced from 65% */
    }
    
    .start3 {
        width: 300px; /* Reduced from 400px */
        height: 50px; /* Reduced from 60px */
        font-size: 25px; /* Reduced from 30px */
     
    }
  }

  @media only screen and (width: 1024px){
    #landcont4{
        height: 100vh; /* Reduced from 100vh */
        top: 350vh; /* Reduced from 350vh */
       
    }
    
    .landtext4, .landtext4:nth-child(2) {
  font-size: 30px; 
       
    }
    
    .landtext4{
        color: white;
    }
    
    .button3{
        position: absolute;
        top: 495px; /* Reduced from 65% */
    }
    
    .start3 {
        width: 300px; /* Reduced from 400px */
        height: 50px; /* Reduced from 60px */
        font-size: 25px; /* Reduced from 30px */
     
    }
  }

/*NAV BAR ----------------------------------------------------------------------------------------------------------------------------------------------------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 70px;
    background-color: white;
    padding: 0.5px 15px;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: -20px;
  }
  
  .logo-container img {
    height: 98px;
    width:98px;
    margin-bottom: -1px;
    margin-top: -18px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin-bottom: 1px;
    margin-right: auto;
  }
  
  .nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500; /* Change font-weight to 500 for semi-bold */
  }
  
  .user-controls {
    display: flex;
    align-items: center;
    margin-right: -10px;
    max-height: 20px;
  }
  
  .notification-icon img {
    max-height: 20px;
    margin-right: 30px;
  }
  
  .profile-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .profile-container img {
    max-height: 30px;
    margin-right: 10px;
  }
  
  .profile-hover {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: none;
    width: 200px;
    color: black;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px 0;
    transition: color 0.3s;
  }
  
  .dropdown-content a:hover {
    color: gray;
  }
  
  .profile-hover:hover .dropdown-content,
  .profile-hover.clicked .dropdown-content {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  
  .notification-icon img,
  .profile-image img {
    max-height: 30px;
    margin-right: 10px;
  }
  
  .menu-icon {
    display: none;
    cursor: pointer;
    padding: 10px;
    margin-left: -8px;
    margin-bottom: 10px;
  
  }
  
  .menu-icon .bar {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
  }
  
  @media only screen and (max-width: 768px) {
    .form-container2 {
      width: 100%;
    }
  
    .menu-icon {
      display: none;
      cursor: pointer;
      padding: 10px;
      margin-top: 10px;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 999;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .nav-links li {
      text-align: center;
      margin: 10px 0;
    }
  
    .menu-icon {
      display: block;
    }
  }
  
/*^^ NAVBAR ^^*/
  .header-image {
    width: 100vw; /* This will make the image take up the full viewport width */
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    object-fit: cover;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
}

@media (max-width: 992px) {
    .header-image {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); /* Slightly smaller shadow */
    }
}

/* Styles for screens that are 768px wide or less */
@media (max-width: 768px) {
    .header-image {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Even smaller shadow */
    }
}

/* Styles for screens that are 576px wide or less */
@media (max-width: 576px) {
    .header-image {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); /* Smallest shadow */
    }
}

/*   FOOTER   ----------------------------------------------------------------------------------------------------------------------------------------------------------*/


.footer {
    background-color: #023047;
    color: #ffffff;
    padding: -5px;
    margin-top: 80px;
    position: absolute;
    width: 100%;
    top: 440%;
  }
  
  .top-part {
    display: flex;
    background-color: #023047;
    font-size: 17px; /* Minimized font size */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Added shadow effect */
  color: white;
    flex-direction: column;
    align-items: center;
    margin-top: -50px; /* Decreased top margin */
  
  
  }
  
  .second-top-part {
    margin-bottom: 10px;
    font-size: 12px; /* Minimized font size */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Added shadow effect */
  
  
  }
  
  .logo {
   width: 200px;
  height: 200px;
  margin-top: -5px;
  margin-bottom: -30px;
  }
  
  .links {
    margin-top: -20px;
    margin-bottom: 30px;
  
  }
  
  .links a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    
  }
  
  .bottom-part {
    background-color: #FFB703;
    padding: 0.5pt; /* Decreased the padding to adjust the height */
    width: 100%; /* Make the width reach the ends of the website */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px; /* Minimized font size */
    color: black; /* Changed font color to dark gray (#333) */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Added shadow effect */
  margin-top: 20px;
  
  }

/*FONT CLASSES--------------------------------------------------------------------------------------------------------------------------------*/


.poppins-black{
    font-family: "Poppins", sans-serif ;
    font-weight: 900;
    font-style: normal;
}

.poppins-extrabold{
    font-family: "Poppins", sans-serif ;
    font-weight: 800;
    font-style: normal;
    
}

.poppins-semibold{
    font-family: "Poppins", sans-serif ;
    font-weight: 600;
    font-style: normal;
}

.poppins-black-italic{
    font-family: "Poppins", sans-serif ;
    font-weight: 900;
    font-style: italic;
}

/*ANIMATION--------------------------------------------------------------------------------------------------------------------------------*/
    /*Firt DIV--------------------------------------------------------------------------------------------------------------------------------V*/

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    filter: blur(0px);
    opacity: 1;
}

.button1.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 0.2s;
}

.button1.show {
    filter: blur(0px);
    opacity: 1;
}

.welcome:nth-child(2){
 transition-delay: 500ms;
} 

    /*Second DIV--------------------------------------------------------------------------------------------------------------------------------*/

.landtext1cont.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.landtext1cont.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.landtext2.hidden{
    opacity: 0;
    filter: blur(5px);
    z-index: 99;
    transform: translateX(-100%);
    transition: all 1s;
}


.landtext2:nth-child(2){
    transition-delay: 150ms;

}

.landtext2:nth-child(3){
    transition-delay: 300ms;
}

.landtext2:nth-child(4){
    transition-delay: 450ms;
}

.landtext2.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.landimg1.hidden, .landimg2.hidden, .landimg3.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(250px);
}

.landimg1.show, .landimg2.show, .landimg3.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition:all 1s;
}

.landimg2.show{
    transition-delay: 100ms;
} 
.landimg3.show{
transition-delay: 200ms;
}

.button1.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.button1.show {
    filter: blur(0px);
    opacity: 1;
    transition-delay: 500ms;
}

    /*Third DIV--------------------------------------------------------------------------------------------------------------------------------*/
    
    .button2.hidden {
        opacity: 0;
        filter: blur(5px);
        transition: all 0.5s;
    }

    .button2.show {
        filter: blur(0px);
        opacity: 1;
    }

    

    /*Fourth DIV--------------------------------------------------------------------------------------------------------------------------------*/


    .landtext4.hidden{
        opacity: 0;
        filter: blur(5px);
        transition: all 2.5s;
    }

    .landtext4.show{
        filter: blur(0px);
        opacity: 1;
    }

    .landtext4:nth-child(2).show{
        transition-delay: 200ms;
    }

    .button3.hidden {
        opacity: 0;
        filter: blur(5px);
        transition: 1s;
    }

    .button3.show {
        filter: blur(0px);
        opacity: 1;
    }

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}